*{
padding:0;
magin:0;
}
body{
background: #F5D0F6;
}
section#contenido{
width:900px;
padding-left:100px;
margin:10px;
background:

}
h1{
font-family: 'Permanent Marker', cursive;
font-size:100px;
font-weight: bold;
text-align: center;
}

a{
text-decoration:none;
}
header{
height:200px;}
nav ul{
list-style: none;
display:block;
}

nav li{
display: inline-block;
width: 100px;
}
